@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #0f172a;
}

::-webkit-scrollbar-thumb {
  background-color: #f87171;
}

/* .transDur {
  transition: width 2s linear;
} */
